.about-content
  h2 台灣好品牌
  .ui.divider
  .ui.warning.message 台灣的老闆都很 Decent 的，這一定是有什麼誤會
  h3.ui.header Source code
  a(href="https://github.com/g0v/decent.tw") github
  | &nbsp; released under the MIT License.

