.about-content
  h2 {{ id }} {{ company['公司名稱']}}

  .ui.four.items
    .item(ng-repeat="trademark in company.trademarks")
      .image
        img(ng-src="http://api.decent.tw/img/{{ trademark['申請案號'] }}.jpg")
      .content
        .name {{ trademark['商標名稱'] }}
      p.description
        | {{trademark.data['商品類別'] }}
        .ui.label(ng-repeat="label in trademark.data['商品名稱']")
          {{ label }}
